.page-wrap {
  .logo {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    height: 100%;
  }

  .site-layout-background {
  }
}
